<!-- Characteristics -->
<div class="col-12 text-center mt-5 mb-5">
  <h2 class="title">Características</h2>
</div>

<div class="col-12 d-flex flex-column justify-content-between">
  <div class="col-sm-12 col-md-6">
    <h4 class="subtitle-characteris"><b>Sub chasis</b> Delantero y trasero</h4>
    <p class="p-size-1">
      <b>
        Subchasis completo delantero y trasero reforzado
      </b> que incrementa la seguridad vehicular, resistiendo la
      deformación
      frente a una colisión, absorbe la vibración de la superficie del camino, mejorando la estabilidad vehicular.
    </p>
  </div>
  <div class="col-sm-12 col-md-6 background-chasis"></div>
</div>

<div class="col-12 d-flex manual-wrap justify-content-start  margin-collage">
  <div class="col-sm-12 col-md-6 background-motor dos">
  </div>
  <div class="col-sm-12 col-md-6 ms-sm-1 spacer uno">
    <h4 class="subtitle-characteris mb-5">Motor <b>2.0 147</b> HP <b>197 NM</b></h4>
    <p class="p-size-1">
      <b>A las 1.500 revoluciones el motor genera el 80% de su fuerza.</b>
      Haciendo de Korando una camioneta con un
      excelente
      desempeño.
    </p>
  </div>
</div>

<div class="col-12 d-flex manual-wrap justify-content-end">
  <div class="col-sm-12 col-md-6 ms-1 spacer">
    <h4 class="subtitle-system mb-5">Sistema Electrónico de <b>Estabilidad (ESP)</b></h4>
    <p class="p-size-1">
      Emplea una combinación de intervención del acelerador y
      frenado en cada rueda para ayudar a mantener mayor estabilidad sobre todo tipo de superficies y
      <b>prevención de accidentes.</b>
    </p>
  </div>
  <div class="col-sm-12 col-md-6 background-system">
  </div>
</div>

<div class="col-12 d-flex manual-wrap justify-content-end">
  <div class="col-sm-12 col-md-6 background-confort dos">
  </div>
  <div class="col-sm-12 col-md-6 spacer-2 uno">
    <h4 class="subtitle-characteris mb-5">Interior <b>muy espacioso</b></h4>
    <p class="p-size-1">
      <b>Realza la sensación de comodidad en sus ocupantes,</b>
      además, es un vehículo pensado también los pasajeros traseros,
      dándoles la posibilidad de reclinar sus sillas e ir mucho mas cómodos.
    </p>
  </div>
</div>

<div class="col-12 d-flex manual-wrap justify-content-end">

  <div class="col-sm-12 col-md-6 spacer-2">
    <h4 class="subtitle-system mb-5">Completo sistema de <b>luces LED</b></h4>
    <p class="p-size-1">
      Resaltan la imagen delantera y trasera de la camioneta.
    </p>
  </div>
  <div class="col-sm-12 col-md-6 background-front">
  </div>
</div>

<!-- Gallery -->
<div class="col-12 margin-collage-2">
  <div class="text-center margin-title-bottom">
    <h2 class="title">Galería de imágenes</h2>
  </div>
  <div class="d-flex flex-wrap">
    <div class="col-sm-12 col-md-4 spacer-3">
      <img class="size-gallery-img" src="../../../assets/two_persons.png" alt="Galeria 1">
    </div>
    <div class="col-sm-12 col-md-4 spacer-3">
      <img class="size-gallery-img" src="../../../assets/almacenamiento.png" alt="Galeria 2">
    </div>
    <div class="col-sm-12 col-md-4 spacer-3">
      <img class="size-gallery-img" src="../../../assets/plegables.png" alt="Galeria 3">
    </div>
    <div class="col-sm-12 col-md-4 spacer-3">
      <img class="size-gallery-img" src="../../../assets/palanca.png" alt="Galeria 4">
    </div>
    <div class="col-sm-12 col-md-4 spacer-3">
      <img class="size-gallery-img" src="../../../assets/camioneta.png" alt="Galeria 5">
    </div>
    <div class="col-sm-12 col-md-4 spacer-3">
      <img class="size-gallery-img" src="../../../assets/farolas_traseras.png" alt="Galeria 6">
    </div>
  </div>
</div>

<!-- Garantia -->
<div class="col-12 margin-collage-3">
  <div class="d-flex flex-row flex-wrap justify-content-center text-center">
    <div class="col-12 mb-5">
      <img src="../../../assets/Imagen_21.png" class="size-garanty-img" alt="Garantia">
    </div>
    <div class="col-6 text-center text-muted p-size-garanty">
      7 años o 150.00 km servicio particular (modelos 2019 en adelante)* 2 años 50.000km servicios público* Fotos de
      Referencia, los Rines, accesorios y colores en Colombia pueden variar. Especificaciones de Precios sujetos a
      cambio sin previo aviso. Consultar condiciones especificas de la garantía del vehiculo en la Guía de Servicio del
      vehículo y/o en el concesionario.
    </div>
  </div>
</div>


<div class="col-12 d-flex justify-content-center mt-5 mb-5">
  <button class="btn btn-dark btn-round" type="button">¡COTIZAR YA!</button>
</div>
